[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "==3.15.2"

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"
mypy = "*"
pylint = "*"
bandit = "*"
coverage = "*"
django-stubs = "~=5.1"

[requires]
python_version = "3.12"
